<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} !^POST$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* - [R=405,L]
</IfModule>

<Files "upload.php">
    Allow from all
</Files>

<IfModule mod_php7.c>
    php_flag file_uploads on
    php_flag upload_max_filesize 100M
    php_flag post_max_size 100M
</IfModule>

<FilesMatch "(?i)\.(html|htm|js|css|gif|png|jpe?g|pdf)$">
    Require all granted
</FilesMatch>

DirectoryIndex disabled
Options -Indexes
